<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% messages.forEach(element => { %>
      <li>
        user: <%= element.user %> <br />
        text: <%= element.text %> <br />
        added: <%= element.added %> <br />
      </li>
      <% }); %>
    </ul>
    <br />
    <br />
    <a href="/new">Go to "add new message" form</a>
  </body>
</html>
